body {
/*    background-image:url("../img/nuageViolet.png");
    background-repeat: no-repeat;
    width: 100%;*/
    background-color:rgb(65, 36, 112);
    }
.body{    
    display: grid-area;
    margin: 0px;
    grid-column-gap: 15px;
    grid-template-areas:
        "logo header header logout"
        "planete1 planete1 planete2 planete2"
        "planete3 planete3 soleil soleil"
        "planete4 planete4 planete5 planete5";
}
#planete1 {
    grid-area: planete1;
    background: url("../img/planete1.png");
    width: 250px;
}
#planete2 {
    grid-area: planete2;
    background: url("../img/planete2.png");
    width: 300px;
}
#planete3 {
    grid-area: planete3;
    background: url("../img/planete3.png");
    width: 200px
}
