body {
    width: 100px;
    background-color:rgb(65, 36, 112);
}
body > * {
    color: white;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
}
.grid-container {
    display: grid;
    margin: 50px;
    grid-column-gap: 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "header header"
        "planete1 planete2"
        "planete3 soleil";
}
.header {
    grid-area: header;
    height: 200px;
}
.planete1 {
    grid-area: planete1;
    margin-left: 25px;
    height: 100px;
}
.planete2 {
    grid-area: planete2;
    margin-left: 25px;
    margin-bottom: 50px;
}
.planete3 {
    grid-area: planete3;
    height: 100px;
}
.soleil {
     grid-area: soleil;
}

